n8n/cv-parsing.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Send CV",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "CV",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "b1092f93-502c-4af0-962e-2b69311b92a3",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        416,
        720
      ],
      "webhookId": "2a87705d-8ba1-41f1-80ef-85f364ce253e",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "CV",
        "options": {}
      },
      "id": "77edfe2a-4c6a-48c8-8dc9-b275491be090",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        768,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "path": "",
        "options": {
          "sendOnlySet": true
        },
        "jsonBody": "={\n\"model\": \"llama3\",\n\"prompt\": \"Sei un algoritmo esperto di estrazione dati. Estrai dal seguente CV le seguenti informazioni in formato JSON: nome, email, telefono, città, data di nascita, qualifica educativa (max 100 parole), storia lavorativa (max 100 parole), e un elenco puntato delle skill tecniche. TESTO DEL CV: {{ $json.text }}\",\n\"stream\": false,\n\"raw\": true\n}",
        "nodeSelector": "httpRequests"
      },
      "id": "ollama_extraction_id",
      "name": "Ollama - Estrazione Dati",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        720
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "insertOne",
        "collection": "cv_summaries",
        "documentJson": "={\n\"name\": \"{{ $('On form submission').item.json.Name }}\",\n\"email\": \"{{ $('On form submission').item.json.Email }}\",\n\"summary\": \"{{ $json.response }}\",\n\"extraction_timestamp\": \"={{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "mongodb_save_id",
      "name": "MongoDB - Salva Dati",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        1600,
        720
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Ollama - Estrazione Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Estrazione Dati": {
      "main": [
        [
          {
            "node": "MongoDB - Salva Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateId": "2860",
    "instanceId": "6c4634464dbda3070448cff2b0e985ce939bdf3b02a7f18188b43757e5967dbc"
  }
}